#components-layout .header{
  padding-left:0px;
  background:#D27D5F !important;
  /* height: 50px !important; */
}
.am-navbar {
  -ms-flex-align: center;
  height: 45px;
  background-color: #D27D5F !important;
  color: #fff;
}


#components-layout .logo {
 
  float: left;
  font-weight: bold;
  font-size: 20px;
  color:#fff;
  padding-left:15px;
  height: 100%;
}

#components-layout  .btn-collape-sidebar{
  float: left;
  margin-bottom: 0px;
  height: 100%;
  float:left;
  margin-bottom: 16;
}

#components-layout .btn-collape-sidebar{
  border-radius: 0px;
}

.main-content{
  background :#fff;
  padding: 24px;
  margin: 0px;
  min-height: 280px;
}

#head-home-page {
  margin: 50px;
    width: 700px;
    font-size: 50px;
    color: #bdbdbd;
    margin-left: auto;
    margin-right: auto;
}



.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.login-form {
  width: 300px;
  margin:50px auto 0px auto !important;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

#sidebar-layout-trigger .logo {
  float: left;
  text-align: center;
  font-weight: bold;
}

#sidebar-layout-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
  float: left;
}

#sidebar-layout-trigger .trigger:hover {
  color: #1890ff;
}

.prod-card .ant-btn{
  border:1px solid #ee7346;
}

.prod-card .ant-btn:hover{
  color: #ee7346;
}

.cartHeader:hover{
  cursor: pointer;
}

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity 0.4s ease-in 0.6s;
}

.fade-wait-height {
  transition: height 0.6s ease-in-out;
}

body{
  background: #f0f2f5;
}

.pms-footer.ant-layout-footer{
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: 1px;
  width: 100%;
  padding: 4px 20px 15px;
}
.ant-layout-sider-children{
  border-right: 1px solid #e8e8e8;
}


.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  color: hsla(0,0%,100%,.65);
  background: #001830;
}

.ant-modal-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}

.ant-modal-header {
  padding: 16px 24px;
  color: #fff;
  background: #001830;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0;
}

.ant-modal-close {
  color: rgba(228, 219, 219, 0.45);
}